@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color1: #6b5bff;
  --color2: #0b0617;
  --color3: #945bff;
  --color4: #b38cff;
  --color5: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
}
ul li a {
  color: var(--color5);
  padding: 0.1rem;
  transition: all 300ms ease 0s;
}
ul li a:hover {
  color: var(--color3);
}
ul li {
  transition: all 300ms ease 0s;
}
ul li:hover {
  transform: translateY(5px);
}
p {
  color: var(--color4);
}
body {
  font-family: "Poppins", sans-serif;
  background: var(--color2);
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}
.navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  backdrop-filter: blur(2px);
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
}
.logo {
  font-style: italic;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: var(--color5);
  font-family: "Orbitron", sans-serif;
  transition: all 300ms ease;
}

ul {
  display: flex;
  padding: 0.6rem;
  gap: 3rem;
  border-radius: 1rem;
}
.nav-form {
  background-color: var(--color1);
  padding: 0.4rem;
  border-radius: 1rem;
  color: var(--color5);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 300ms ease 0s;

  opacity: 1;
}
.nav-form:hover {
  box-shadow: 0 0 15px var(--color4);
}
#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}
.circle {
  position: absolute;
  width: 1000px;
  height: 1000px;
  background: radial-gradient(circle at center, #673bff, #11001f 70%);
  border-radius: 50%;
  z-index: -1;
  filter: blur(20px);
}
#hero .title1 {
  font-weight: 600;
  letter-spacing: 0.2rem;
  font-size: 2rem;
}
#hero h2 {
  font-size: 3rem;
  font-family: "Orbitron";
  font-style: italic;
  letter-spacing: 0.3rem;
  color: var(--color5);
}
#hero .title2 {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  font-style: oblique;
  text-transform: capitalize;
}
#hero .title3 {
  margin-top: 2rem;
  padding: 0.3rem;
  border-radius: 1rem;
  height: 2rem;
  color: var(--color5);
  background: radial-gradient(circle at center, #945bff, #6b5bff);
  box-shadow: 0 0 20px var(--color3);
  transition: all 300ms ease 0s;
}
#hero .title3:hover {
  scale: 1.1;
  box-shadow: 0 0 15px var(--color4);
  cursor: pointer;
}
.rock {
  position: absolute;
  opacity: 0.5;
  width: 200px;
  animation: floating 6s ease-in-out infinite;
}
.rock1 {
  top: 5%;
  left: 10%;
  animation-delay: 2s;
  opacity: 1;
}
.rock2 {
  top: 60%;
  right: 10%;
  animation-delay: 7s;
  opacity: 0.4;
}
.rock3 {
  top: 50%;
  left: 20%;
  animation-delay: 3s;
  width: 100px;
  opacity: 0.3;
}
.moon {
  position: absolute;
  width: 200px;
  opacity: 0.9;
  animation: moonFloat 100s ease-in-out infinite;
}
.moon1 {
  top: 2%;
  right: 5%;
  animation-delay: 10s;
}
@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes moonFloat {
  0% {
    rotate: 0deg;
  }
  50% {
    rotate: 180deg;
  }
  100% {
    rotate: 360deg;
  }
}
/* business section */
#business {
  min-height: 100vh;
  transition: all 300ms ease-in-out ;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container {
  display: flex;
  
}
.card {
  height: 200px;
  background-color: red;
  
}